<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Withdrawal Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Withdrawal Notice</h1>
        <p>
            Please fill the form below to submit the withdrawal notice.
        </p>
        
        <form action="/withdraw" method="POST">
            <table border="1">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align: center;">Withdrawal Notice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Client ID</td>
                        <td><input name="idNumber" type="text" required="" maxlength="13"></td>
                    </tr>
                    <tr>
                        <td>Current age</td>
                        <td><input type="number" name="clientAge"></td>
                    </tr>
                    <tr>
                        <td>Investment ID</td>
                        <td><input type="number" name="investmentId" required=""></td>
                    </tr>
                    <tr>
                        <td>Withdrawal Amount</td>
                        <td><input type="text" name="withdrawalAmount" required=""></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: right;"><input type="submit" value="Withdraw"></td>
                    </tr>
                </tbody>
            </table>

        </form>
    </body>
</html>
